<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
                           http://www.springframework.org/schema/aop 
                           http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
                           http://www.springframework.org/schema/context 
                           http://www.springframework.org/schema/context/spring-context-2.5.xsd
                           http://www.springframework.org/schema/tx 
                           http://www.springframework.org/schema/tx/spring-tx-2.5.xsd">
     <!--方案 1
     <bean id="departmentDao" class="DaoImpl.DepartmentDaoImpl" parent="baseDaoImpl">
     </bean>
     <bean id="baseDaoImpl" class="DaoImpl.BaseDaoImpl.BaseDaoImpl" abstract="true">
     <property name="hibernateTemplate" ref="hibernateTemplate"></property>
     </bean>
     -->
     
     <!-- 方案2 -->
     <bean id="departmentDao" class="DaoImpl.DepartmentDaoImpl">
     <property name="hibernateTemplate" ref="hibernateTemplate"></property>
     </bean>
    
     <bean id="departmentService" class="ServiceImpl.DepartmentServiceImpl">
     <property name="departmentDao" ref="departmentDao"></property>
     </bean>
     <bean id="departmentAction" class="Action.DepartmentAction" scope="prototype">
     <property name="departmentService" ref="departmentService"></property>
     </bean>
     
     
     
</beans>